root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

[.pre-commit-config.yaml]
indent_style = space

[*.{yml,yaml,ansible-lint,yml.j2}]
indent_style = space
