services:
  minecraft-server:
    image: ghcr.io/itzg/minecraft-server:{{ cloudymc_mc_image_tag }}
    container_name: minecraft-server
    restart: unless-stopped
    tty: true
    stdin_open: true
    stop_grace_period: 60s
    ports:
      - {{ cloudymc_mc_port }}:25565
    {% for port in cloudymc_mc_additional_ports %}
      - {{port.number}}:{{port.number}}/{{port.protocol}}
    {% endfor %}
    environment:
      TYPE: VANILLA
      EULA: {{ cloudymc_mc_eula_accepted }}
      ONLINE_MODE: {{ cloudymc_mc_online_mode }}
      SERVER_NAME: {{ cloudymc_mc_name }}
      MOTD: {{ cloudymc_mc_motd }}
      ICON: {{ cloudymc_mc_icon }}
      OVERRIDE_ICON: {{ cloudymc_mc_override_icon }}
      MAX_PLAYERS: {{ cloudymc_mc_max_players }}
      MODE: {{ cloudymc_mc_mode }}
      VERSION: {{ cloudymc_mc_version }}
      DIFFICULTY: {{ cloudymc_mc_difficulty }}
      HARDCORE: {{ cloudymc_mc_hardcore }}
      PVP: {{ cloudymc_mc_pvp }}
      LEVEL_TYPE: {{ cloudymc_mc_level_type }}
      SEED: {{ cloudymc_mc_seed }}
      VIEW_DISTANCE: {{ cloudymc_mc_view_distance }}
      SIMULATION_DISTANCE: {{ cloudymc_mc_simulation_distance }}
      SPAWN_PROTECTION: {{ cloudymc_mc_spawn_protection }}
      ALLOW_FLIGHT: {{ cloudymc_mc_allow_flight }}
      {% if cloudymc_mc_whitelist_users %}
      ENABLE_WHITELIST: true
      WHITELIST: |-
        {% for user in cloudymc_mc_whitelist_users %}
        {{ user }}
        {% endfor %}
      {% else %}
      ENABLE_WHITELIST: false
      {% endif %}
      {% if cloudymc_mc_ops %}
      OPS: |-
        {% for op_user in cloudymc_mc_ops %}
        {{ op_user }}
        {% endfor %}
      {% endif %}
      {% if cloudymc_mc_commands_startup %}
      RCON_CMDS_STARTUP: |-
        {% for command in cloudymc_mc_commands_startup %}
        {{ command }}
        {% endfor %}
      {% endif %}
      {% if cloudymc_mc_commands_connect %}
      RCON_CMDS_ON_CONNECT: |-
        {% for command in cloudymc_mc_commands_connect %}
        {{ command }}
        {% endfor %}
      {% endif %}
      {% if cloudymc_mc_commands_disconnect %}
      RCON_CMDS_ON_DISCONNECT: |-
        {% for command in cloudymc_mc_commands_disconnect %}
        {{ command }}
        {% endfor %}
      {% endif %}
      MEMORY: {{ cloudymc_mc_memory_mb }}M
      SNOOPER_ENABLED: false
      ENABLE_RCON: true
      STOP_SERVER_ANNOUNCE_DELAY: 60
      ROLLING_LOG_MAX_FILES: 100
      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: false
      UID: {{ mc_user_output.uid }}
      GID: {{ mc_user_output.group }}
      TZ: {{ cloudymc_system_timezone }}
    volumes:
      - ./data:/data
    security_opt:
      - no-new-privileges:true
